.croos{
    background: red;
    width: 25px;
    display: block;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.backgroundBg{
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    backdrop-filter: blur(5px);
}
.modal{
    position: relative;
    top: 0;
    bottom: 0;
    left: 23%;
    right: 50%;
    background: #1c2226;
    width: 54%;
    padding: 1rem;
    border-radius: 20px;
    opacity: 0.8;
    border: 1px solid rgb(77, 77, 77);
}
.titleCoin{
    display: flex;
    align-items: center;
}
.titleCoin img {
    width: 50px;
    margin: 10px;
    height: 50px;
    border-radius: 50%;
}
.graph{
    width: 760px;
    height: 300px;
}
.bannerTitle{
    display: flex;
    text-align: center;
    justify-content: center;
}
.bannerTitle h4 {
    margin: 10px;
}
.btnGroup{
    display: flex;
    justify-content: center;
}
.btn{
    padding: 0.5rem;
    border: 1px solid #3874ff;
    background: none;
    color: #3874ff;
    border-radius: 20px;
    margin: 15px;
    cursor: pointer;
}
.active {
    padding: 0.5rem;
    border: 1px solid #1c2226;
    background: #3874ff;
    color: #1c2226;
    border-radius: 20px;
    margin: 15px;
    cursor: pointer;
}